.rec-grid {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    padding:1em;
}

.rec-card{
    width:250px;
    height:300px;
    border: 1px solid purple;
    border-radius: 3%;
}

.rec-card img{
    width: 100%;
}

.rec-name{
    text-align: center;
    padding-top: 0.7rem;
    font-size: 1rem;
    margin:0 auto;
    font-weight:bold;
    text-transform: uppercase;
}

.rec-name, .rec-name:visited, .rec-name:hover, .rec-name:active {
    color: black;
  }