body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rec-page{
  width: 80%;
  height: 100vh;
  margin: auto;
  border: 20px solid blue;
  outline: 20px solid red;
}

nav {
  display: flex;
  justify-content: space-between;
  padding:1rem;
}

.sub-form {
  max-width: 1000px;
  
}

ul li{
  display: inline-block;
  padding: 0 1em;

}

a {
  text-decoration: none;
}
